@tailwind base;
@tailwind components;
@tailwind utilities;

main {
    font-family: monospace;
    background-color: hsl(var(--customHue), 76%, 3%);

    /* background-repeat: repeat;
    background: center no-repeat center;
    background-image: url("/tri.png"); */
}
